data/aws
.vscode/
outputs/*
!outputs/TEM_activation/across_movies/MDSseed121/iteration32000/walkRandomSeed42/
!outputs/TEM_activation/across_movies/MDSseed121/iteration32000/walkRandomSeed42/**
masks/
sbatch_scripts/
/ignore
/TEMcode/2024-10-22/run0/model
/TEMcode/2024-10-22/run0/save
/TEMcode/2024-10-22/run0/script/__pycache__
/TEMcode/2024-10-22/run0/script/run_lstm.py
/TEMcode/2024-10-22/run0/script/test.py
/TEMcode/2024-10-22/run0/train
/TEMcode/2024-10-22/run0/report.log


lme_permutation_valence.R
lme_permutation_anova.R
lme.py
lme_permutation_valence.R
lme_permutation_TEMtoRating.R
lme_permutation_selfreport.R
lme_permutation_selfreport_aphc.R
lme_permutation_it42000.R
lme_permutation_it50000.R
lme_effectsize.R
lme_effectsize_selfreport.R
lme_effectsize_boot_selfreport.R
lme_effectsize_it42000.R
lme_effectsize_it50000.R
lme_effectsize_boot_it42000.R
lme_effectsize_boot_it50000.R
lme_stats_2dtraj_amy_aphc.R
lme_stats_2dtraj_amy.R
lme_stats_2dtraj_ercaphcamy.R
lme_stats_2dtraj_mediation.R
lme_stats_2dtraj.R
lme_stats_alpmerc_brainToTEM.R
lme_stats_alpmerc.R
lme_stats_selfreport_amy_aphc.R
lme_stats_selfreport_regionsep.R
lme_stats_selfreport_va.R
lme_permutation.R
performance_permutation.py
fit_category_decoding_models_brain_generalize_across_movies_old.m
fit_decoding_models_brainToTEM_generalize_across_movies_old.m
fit_category_decoding_models_brain_generalize_across_movies_ra.m
get_category_decoding_yhat_brain_generalize_across_movies_old.m
lme_stats_selfreport_amy.R
lme_effectsize_boot_selfreport.R
get_brain_maps_conjunction_old.m